a {
  text-decoration: none;
  color: #428bca;
}
a:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: white;
}

/* VIZ */
svg#overlapChart {
  user-select: none;
}
svg#overlapChart:active {
}
.vx-axis, #x-label {
  user-select: none;
}

