a {
  text-decoration: none;
  color: #428bca;
}
a:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: white;
}

/* VIZ */
svg#overlapChart {
  cursor: -webkit-grab;
  user-select: none;
}
svg#overlapChart:active {
  cursor: -webkit-grabbing;
}
/* path#dist1 {
  fill: #30394F;
  stroke: #30394F;
  stroke-width: 0px;
} 
path#dist2{
  fill: #6ACEEB;
  stroke: #6ACEEB;
  stroke-width: 0px;

} 

#distOverlap {
  stroke: rgb(6, 18, 19) 38, 39);
  fill: rgb(6, 18, 19) 38, 39);
}  */
#muConnectLine {
  fill: none;
  stroke-width: 2px;
}
line#mu0 {
  fill: none;
  stroke: white;
  stroke-dasharray: 2,2;
}
line#mu1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 2,2;
}


svg.donut--two-arcs path.arc0 {
  fill: #2e8ece
} 
svg.donut--two-arcs path.arc1 {
  fill: none;
}


svg.donut--NNT path.arc0 {
  fill: #30394F;
} 
svg.donut--NNT path.arc1 {
  fill: #2e8ece
}
svg.donut--NNT path.arc2 {
  fill: none;
} 
.vx-axis, #x-label {
  user-select: none;
}

