a {
  text-decoration: none;
  color: #428bca;
}
a:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: white;
}
.gatsby-highlight {
  background-color: #fdf6e3;
  border-radius: 0;
  margin: 0 -24px 0 -24px;
  padding: 0 1em;
  overflow: auto;
}

/* VIZ */
svg#overlapChart {
  cursor: -webkit-grab;
  user-select: none;
}
svg#overlapChart:active {
  cursor: -webkit-grabbing;
}
path#dist1 {
  fill: #30394F;
  stroke: #30394F;
  stroke-width: 0px;
}
path#dist2{
  fill: #6ACEEB;
  stroke: #6ACEEB;
  stroke-width: 0px;

}
path#poly {
  stroke: #0E6569;
  fill: rgb(6, 18, 19) 38, 39);
}
#distOverlap {
  stroke: rgb(6, 18, 19) 38, 39);
  fill: rgb(6, 18, 19) 38, 39);
}
line#mu_connect {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
line#mu0 {
  fill: none;
  stroke: white;
  stroke-dasharray: 2,2;
}
line#mu1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 2,2;
}


svg.donut--two-arcs path.arc0 {
  fill: #2e8ece
} 
svg.donut--two-arcs path.arc1 {
  fill: #ffffff;
}


svg.donut--NNT path.arc0 {
  fill: #30394F;
} 
svg.donut--NNT path.arc1 {
  fill: #2e8ece
}
svg.donut--NNT path.arc2 {
  fill: #ffffff
} 
.vx-axis, #x-label {
  user-select: none;
}

